# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


autom4te.cache/requests
ltmain.sh

Makefile
UnitTests/.deps/
UnitTests/.libs/
UnitTests/Makefile
UnitTests/raveunittest
config.h
config.log
config.status
java/.deps/
java/Makefile
java/at/
java/rave.cc
java/rave.h
java/tests/Makefile
libtool
log
old/
rave_autoconf.i
src/.libs/
src/CommonTools/Clustering1D/src/.deps/
src/CommonTools/Clustering1D/src/.dirstamp
src/CommonTools/Statistics/src/.deps/
src/CommonTools/Statistics/src/.dirstamp
src/CommonTools/Statistics/test/.deps/
src/DataFormats/BTauReco/src/.deps/
src/DataFormats/BTauReco/src/.dirstamp
src/DataFormats/BeamSpot/src/.deps/
src/DataFormats/BeamSpot/src/.dirstamp
src/DataFormats/Candidate/src/.deps/
src/DataFormats/Candidate/src/.dirstamp
src/DataFormats/GeometryCommonDetAlgo/src/.deps/
src/DataFormats/GeometryCommonDetAlgo/src/.dirstamp
src/DataFormats/GeometrySurface/src/.deps/
src/DataFormats/GeometrySurface/src/.dirstamp
src/DataFormats/GsfTrackReco/src/.deps/
src/DataFormats/GsfTrackReco/src/.dirstamp
src/DataFormats/TrackReco/src/.deps/
src/DataFormats/TrackReco/src/.dirstamp
src/DataFormats/VertexReco/src/.deps/
src/DataFormats/VertexReco/src/.dirstamp
src/Environment/Configuration/src/.deps/
src/Environment/Configuration/src/.dirstamp
src/FWCore/MessageLogger/src/.deps/
src/FWCore/MessageLogger/src/.dirstamp
src/FWCore/ParameterSet/src/.deps/
src/FWCore/ParameterSet/src/.dirstamp
src/FWCore/Utilities/src/.deps/
src/FWCore/Utilities/src/.dirstamp
src/FWCore/Utilities/test/.deps/
src/MagneticField/Engine/src/.deps/
src/MagneticField/Engine/src/.dirstamp
src/Makefile
src/ROOT/mathcore/.deps/
src/ROOT/mathcore/.dirstamp
src/ROOT/src/.deps/
src/ROOT/src/.dirstamp
src/RaveBase/.libs/
src/RaveBase/Converters/src/.deps/
src/RaveBase/Converters/src/.dirstamp
src/RaveBase/Makefile
src/RaveBase/RaveEngine/src/.deps/
src/RaveBase/RaveEngine/src/.dirstamp
src/RaveBase/RaveInterface/src/.deps/
src/RaveBase/RaveInterface/src/.dirstamp
src/RaveBase/Utilities/src/.deps/
src/RaveBase/Utilities/src/.dirstamp
src/RaveTools/Converters/src/.deps/
src/RaveTools/Converters/src/.dirstamp
src/RecoBTag/.libs/
src/RecoBTag/Makefile
src/RecoBTag/SecondaryVertex/src/.deps/
src/RecoBTag/SecondaryVertex/src/.dirstamp
src/RecoVertex/.libs/
src/RecoVertex/AdaptiveVertexFinder/src/.deps/
src/RecoVertex/AdaptiveVertexFinder/src/.dirstamp
src/RecoVertex/AdaptiveVertexFit/src/.deps/
src/RecoVertex/AdaptiveVertexFit/src/.dirstamp
src/RecoVertex/ConfigurableVertexReco/src/.deps/
src/RecoVertex/ConfigurableVertexReco/src/.dirstamp
src/RecoVertex/GaussianSumVertexFit/src/.deps/
src/RecoVertex/GaussianSumVertexFit/src/.dirstamp
src/RecoVertex/KalmanVertexFit/src/.deps/
src/RecoVertex/KalmanVertexFit/src/.dirstamp
src/RecoVertex/KinematicFit/.libs/
src/RecoVertex/KinematicFit/Makefile
src/RecoVertex/KinematicFit/src/.deps/
src/RecoVertex/KinematicFit/src/.dirstamp
src/RecoVertex/KinematicFitPrimitives/src/.deps/
src/RecoVertex/KinematicFitPrimitives/src/.dirstamp
src/RecoVertex/LinearizationPointFinders/src/.deps/
src/RecoVertex/LinearizationPointFinders/src/.dirstamp
src/RecoVertex/Makefile
src/RecoVertex/MultiVertexFit/src/.deps/
src/RecoVertex/MultiVertexFit/src/.dirstamp
src/RecoVertex/TertiaryTracksVertexFinder/src/.deps/
src/RecoVertex/TrimmedKalmanVertexFinder/src/.deps/
src/RecoVertex/TrimmedKalmanVertexFinder/src/.dirstamp
src/RecoVertex/VertexPrimitives/src/.deps/
src/RecoVertex/VertexPrimitives/src/.dirstamp
src/RecoVertex/VertexTools/src/.deps/
src/RecoVertex/VertexTools/src/.dirstamp
src/RecoVertex/ZvresReco/src/.deps/
src/RecoVertex/ZvresReco/src/.dirstamp
src/RecoVertex/ZvresReco/src/vertex_lcfi/algo/src/.deps/
src/RecoVertex/ZvresReco/src/vertex_lcfi/algo/src/.dirstamp
src/RecoVertex/ZvresReco/src/vertex_lcfi/src/.deps/
src/RecoVertex/ZvresReco/src/vertex_lcfi/src/.dirstamp
src/RecoVertex/ZvresReco/src/vertex_lcfi/util/src/.deps/
src/RecoVertex/ZvresReco/src/vertex_lcfi/util/src/.dirstamp
src/RecoVertex/ZvresReco/src/vertex_lcfi/zvtop/src/.deps/
src/RecoVertex/ZvresReco/src/vertex_lcfi/zvtop/src/.dirstamp
src/TrackingTools/AnalyticalJacobians/src/.deps/
src/TrackingTools/AnalyticalJacobians/src/.dirstamp
src/TrackingTools/GeomPropagators/src/.deps/
src/TrackingTools/GeomPropagators/src/.dirstamp
src/TrackingTools/GsfTools/src/.deps/
src/TrackingTools/GsfTools/src/.dirstamp
src/TrackingTools/PatternTools/src/.deps/
src/TrackingTools/PatternTools/src/.dirstamp
src/TrackingTools/TrajectoryParametrization/src/.deps/
src/TrackingTools/TrajectoryParametrization/src/.dirstamp
src/TrackingTools/TrajectoryState/src/.deps/
src/TrackingTools/TrajectoryState/src/.dirstamp
src/TrackingTools/TransientTrack/src/.deps/
src/TrackingTools/TransientTrack/src/.dirstamp
tests/.deps/
tests/.libs/
tests/Makefile
tests/kinematics01
tests/kinematics02
tests/kinematics03
tests/memorytests
tests/propagatortests
tests/rave_version
