Source: rave
Priority: optional
Maintainer: Wolfgang Waltenberger <waldi@teilchen.at>
Build-Depends: debhelper (>= 5), autotools-dev, automake, libboost-dev, clhep2-dev (>=2.0.3.2-1), libtool, pkg-config, sun-java5-jdk (>=1.5.0-1) | sun-java6-jdk
Standards-Version: 3.7.2
Section: libs

Package: librave-dev
Section: libdevel
Architecture: any
Depends: librave (= ${Source-Version}), autotools-dev, automake
Conflicts: librave-dummy
Description: RAVE - Reconstruction in an Abstract Versatile Environment
 RAVE is a reconstruction library targeted at the high energy and nuclear
 physics communities.  Given a bundle of reconstructed tracks, and a magnetic
 field, it can reconstruct interaction vertices.  It deals with both the
 problem of vertex finding (pattern recognition) and vertex fitting
 (statistics). For vertex fitting it uses the powerful adaptive vertex
 estimator - a novel technique that was first introduced in this project.
 .
 RAVE shares its code base with the vertex reconstruction software of the LHC
 experiment "CMS".  It has also already been successfully used in the ILC
 communities.
 .
 This package contains the developer files for rave.


Package: librave
Section: libs
Architecture: any
Conflicts: librave-dummy
Depends: ${shlibs:Depends}, ${misc:Depends}, clhep2 (>= 2.0.3.2-1)
Description: RAVE - Reconstruction in an Abstract Versatile Environment
 RAVE is a reconstruction library targeted at the high energy and nuclear
 physics communities.  Given a bundle of reconstructed tracks, and a magnetic
 field, it can reconstruct interaction vertices.  It deals with both the
 problem of vertex finding (pattern recognition) and vertex fitting
 (statistics). For vertex fitting it uses the powerful adaptive vertex
 estimator - a novel technique that was first introduced in this project.
 .
 RAVE shares its code base with the vertex reconstruction software of the LHC
 experiment "CMS".  It has also already been successfully used in the ILC
 communities.

Package: librave-dummy
Section: libs
Architecture: any
Conflicts: librave, librave-dev
Depends: ${shlibs:Depends}, ${misc:Depends}, clhep2 (>= 2.0.3.2-1)
Description: RAVE - Reconstruction in an Abstract Versatile Environment
 RAVE is a reconstruction library targeted at the high energy and nuclear
 physics communities.  Given a bundle of reconstructed tracks, and a magnetic
 field, it can reconstruct interaction vertices.  It deals with both the
 problem of vertex finding (pattern recognition) and vertex fitting
 (statistics). For vertex fitting it uses the powerful adaptive vertex
 estimator - a novel technique that was first introduced in this project.
 .
 This package installs nothing; it is a convenience package for the developers.
 DO NOT INSTALL THIS PACKAGE unless you really know what youre doing. 

Package: librave-java
Section: libdevel
Architecture: any
Depends: librave (= ${Source-Version}), autotools-dev, automake
Conflicts: librave-dummy
Description: RAVE - Reconstruction in an Abstract Versatile Environment
 RAVE is a reconstruction library targeted at the high energy and nuclear
 physics communities.  Given a bundle of reconstructed tracks, and a magnetic
 field, it can reconstruct interaction vertices.  It deals with both the
 problem of vertex finding (pattern recognition) and vertex fitting
 (statistics). For vertex fitting it uses the powerful adaptive vertex
 estimator - a novel technique that was first introduced in this project.
 .
 RAVE shares its code base with the vertex reconstruction software of the LHC
 experiment "CMS".  It has also already been successfully used in the ILC
 communities.
 .
 This package contains the java interface for rave.

Package: librave-all
Section: libdevel
Architecture: any
Conflicts: librave-dummy
Depends: librave (= ${Source-Version}), librave-dev (= ${Source-Version}), librave-java (= ${Source-Version})
Description: RAVE - Reconstruction in an Abstract Versatile Environment
 RAVE is a reconstruction library targeted at the high energy and nuclear
 physics communities.  Given a bundle of reconstructed tracks, and a magnetic
 field, it can reconstruct interaction vertices.  It deals with both the
 problem of vertex finding (pattern recognition) and vertex fitting
 (statistics). For vertex fitting it uses the powerful adaptive vertex
 estimator - a novel technique that was first introduced in this project.
 .
 RAVE shares its code base with the vertex reconstruction software of the LHC
 experiment "CMS".  It has also already been successfully used in the ILC
 communities.
 .
 This package depends on all librave-packages.

